

<div id="kontener">

<h1 id="ofirmie"></h1>
    
<table id="tab1">
  <tr>
    <td width="200px" valign="top">    

				<h5>Powinieneś przeczytać</h5>
				<ul>
				<li><p>Technologie IT w utrzymaniu obiektów handlowych</p></li>
          <li><p>Naprzód</p></li>
        </ul>
        <p class="tytul-home">Najnowsze wpisy</p>
        <ul class="lista-home">
          <li><p>Polityka Bezpieczeństwa i Higieny Pracy</p></li>
          <li><p>Naprzód 2</p></li>
        </ul>

    </td>
 
<td id="tab1" width="601px">

  
  
  
<p>
  Grupa Naprzód jest polską grupą firm usługowych wysoko wyspecjalizowaną w rozwiązywaniu problemów utrzymania budynków oraz zbiorowego żywienia i usług gastronomicznych we wszelkiego rodzaju obiektach, które nasi klienci powierzają nam w ramach procesu outsourcingu. Dzięki temu mogą się oni skoncentrować na swych pierwszorzędnych zadaniach takich jak: leczenie pacjentów, produkcja, handel, czy obsługa gości hotelowych.
</p> 

<center>
<h1 id="polska"></h1>
</center>

<p>
  Usługi realizujemy w oparciu o najnowsze technologie dostarczane nam przez producentów specjalistycznego sprzętu oraz środków chemicznych. Personel sprzątający objęty jest systemem kompleksowych szkoleń stanowiskowych obejmujących wiedzę teoretyczną oraz  praktyczną z zakresu technik sprzątania, stosowania i doboru odpowiednich środków chemicznych, oraz topografii obsługiwanego obiektu
</p>  

</td>

</tr>
</table>

<table id="tab2"><tr><td height="50px" width="803px"></td></tr></table>

<table id="tab3" cellpadding=0 border="0">
  <tr>
  <td height="50px" width="805px" valign="top" align="righ">
   <div id="right5" class="l"></div>
</td></tr></table>


</div>



