

<div id="kontener">

<h1 id="ofirmie"></h1>
    
<table id="tab1">
  <tr>
    <td width="200px" valign="top">    

				<h5>Standardy</h5>
				<ul>
				<li><p>Technologie utrzymaniu obiektów handlowych</p></li>
          <li><p>Naprzód</p></li>
        </ul>
       
    </td>
 
<td id="tab1" width="600px">

  
      

<p style="text-align: left;">Funkcjonowanie w ramach nowoczesnej gospodarki rynkowej w Polsce jest związane z koniecznością przestrzegania zasad etyki i kultury przedsiębiorczości. Grupa Naprzód podjęła działania zmierzające do zapewnienia wysokiej jakości świadczonych usług, rzetelności wobec kontrahentów oraz pracowników, które świadczą o odpowiedzialnym podejściu do kierowania Firmą i są jednym ze źródeł sukcesu.</p>
<p style="text-align: left;">Przyjęcie Kodeksu etyki oznacza, iż Grupa Naprzód uznaje wspomniane w nim wartości i zobowiązuje się do przestrzegania i monitorowania przyjętych norm.</p>
<p style="text-align: left;">Kodeks etyki Grupy Naprzód opisuje:</p>
<ul>
<li style="text-align: left;">stosunki z klientami</li>
<li style="text-align: left;">stosunki z akcjonariuszami, udziałowcami i innymi inwestorami</li>
<li style="text-align: left;">stosunki z pracownikami</li>
<li style="text-align: left;">stosunki z kontrahentami</li>
<li style="text-align: left;">relacje z konkurencją</li>
<li style="text-align: left;">powiązania z władzami i lokalnymi społecznościami</li>
<li style="text-align: left;">środowisko naturalne</li>
<li style="text-align: left;">związki biznesu z polityką</li>
<li style="text-align: left;">zamówienia publiczne</li>
<li style="text-align: left;">zagadnienia związane z międzynarodowym biznesem</li>
<li style="text-align: left;">wdrażanie i przestrzeganie zasad kodeksu</li>
</ul>


</td>

</tr>
</table>

<table id="tab2"><tr><td height="50px" width="803px"></td></tr></table>

<table id="tab3" cellpadding=0 border="0">
  <tr>
  <td height="50px" width="805px" valign="top" align="righ">
   <div id="right5" class="l"></div>
</td></tr></table>


</div>





