

<div id="kontener">

<h1 id="ofirmie"></h1>
    
<table id="tab1">
  <tr>
    <td width="200px" valign="top">    

				<h5>Powinieneś przeczytać</h5>
				<ul>
				<li><p>Technologie IT w utrzymaniu obiektów handlowych</p></li>
          <li><p>Naprzód</p></li>
        </ul>
        <p class="tytul-home">Najnowsze wpisy</p>
        <ul class="lista-home">
          <li><p>Polityka Bezpieczeństwa i Higieny Pracy</p></li>
          <li><p>Naprzód 2</p></li>
        </ul>

    </td>
 
<td id="tab1" width="601px">

  
  
  
<p>
Grupa Naprzód jest grupą firm usługowych wysoko wyspecjalizowanych w rozwiązywaniu problemów utrzymania czystości, zbiorowego żywienia oraz zarządzania nieruchomościami we wszelkiego rodzaju obiektach, które nasi klienci powierzają nam w ramach procesu outsourcingu.
</p>
<h2>Zakres świadczonych usług</h2>
<ul>
  <li>Przygotowanie obiektów do codziennej eksploatacji</li>
  <li>Serwis dzienny - stała kontrola czystości</li>
  <li>Prace specjalistyczne: pranie wykładzin dywanowych, czyszczenie maszynowe schodów ruchomych, konserwacja posadzek, prace na wysokości, czyszczenie fasad</li>
  <li>Doczyszczanie obiektów po remontach</li>
  <li>Dezynfekcja, dezynsekcja i deratyzacja</li>
  <li>Pielęgnacja terenów zielonych</li>
  <li>Utrzymanie czystości na terenach zewnętrznych</li>
  <li>Serwis zimowy</li>
  <li>Serwisowanie mat zabezpieczających wejścia do obiektów</li>
</ul>
<h2 class="ziel">Usługi pomocnicze</h2
><ul>
  <li>Transport wewnątrzszpitalny</li>
  <li>Ustawianie i segregacja wózków sklepowych</li>
  <li>Roznoszenie ulotek informacyjnych</li>
  <li>Pakowanie zakupów</li>
  <li>Drobne naprawy</li>
  <li>Usługi portierskie</li>
  <li>Odczyty liczników</li>
  <li>Obsługa restauracji: pomoc kelnerska, zmywanie naczyń</li>
 </ul>
 <h2 class="ziel">Korzyści</h2>
 <ul>
   <li>Współpraca z naszą firmą pozwala na wygenerowanie sporych oszczędności w stałych kosztach utrzymania nieruchomości. Wiążą się one z faktem, iż będąc dużym odbiorcą produktów potrzebnych do realizacji usługi, posiadamy wysokie rabaty u dostawców. Poza tym, stosując sprzęt mechaniczny oraz odpowiednie nowoczesne technologie realizujemy usługi wydajniej oraz osiągamy lepszy wynik jakościowy.</li>
  </ul>

</td>

</tr>
</table>

<table id="tab2"><tr><td height="50px" width="803px"></td></tr></table>

<table id="tab3" cellpadding=0 border="0">
  <tr>
  <td height="50px" width="805px" valign="top" align="righ">
   <div id="right5" class="l"></div>
</td></tr></table>


</div>





