

<div id="kontener">

<h1 id="kontakty"></h1>
    
<table id="tab1">
  <tr>
    <td width="200px" valign="top">    

				<h5>Kontakty</h5>
				<ul>
				<li><p>Test..</p></li>
          <li><p>Naprzód</p></li>
        </ul>
       

    </td>
 
<td id="tab1" width="600px">

<p>NAPRZÓD W POLSCE</p>

<center>
  <h1 id="polska"></h1>
</center>
 

</td>

</tr>
</table>

<table id="tab2"><tr><td height="50px" width="803px"></td></tr></table>

<table id="tab3" cellpadding=0 border="0">
  <tr>
  <td height="50px" width="805px" valign="top" align="righ">
   <div id="right5" class="l"></div>
</td></tr></table>


</div>





